.container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }

  .stage-form {
    display: flex;
    /* flex-direction: column; */
    gap: 16px;
  }
  
  .small-input {
    width: 250px; 
  }
  
  .button-group {
    display: flex;
    gap: 8px;
  }
  