<div class="reset-container m-0">
    <div class="card">
      <div class="card-header bg-dark text-white">
        <h3 class="text-center">{{ isOtpSent ? 'Reset Your Password' : 'Request Password Reset' }}</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Select User Type</mat-label>
                <mat-icon matPrefix>person</mat-icon>
                <mat-select [(ngModel)]="userType" name="userType" required>
                  <mat-option value="user">User</mat-option>
                  <mat-option value="vendor">Vendor</mat-option>
                </mat-select>
                <mat-error *ngIf="!userType">User type is required.</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <!-- Email -->
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <mat-icon matPrefix>email</mat-icon>
                <input appTrimInput matInput type="email" [(ngModel)]="email" name="email" required />
                <mat-error *ngIf="!email">
                  <small>Email is required.</small>
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="col-md-12" *ngIf="isOtpSent">
              <!-- OTP -->
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>OTP</mat-label>
                <mat-icon matPrefix>vpn_key</mat-icon>
                <input appTrimInput matInput type="text" [(ngModel)]="otp" name="otp" required />
                <mat-error *ngIf="!otp">
                  <small>OTP is required.</small>
                </mat-error>
              </mat-form-field>
  
              <!-- New Password -->
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>New Password</mat-label>
                <mat-icon matPrefix>lock</mat-icon>
                <input appTrimInput matInput type="password" [(ngModel)]="newPassword" name="newPassword" required />
                <mat-error *ngIf="!newPassword">
                  <small>Password is required.</small>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
          <!-- Submit Button -->
          <div class="text-center mt-3">
            <button mat-stroked-button color="primary" routerLink="/login" class="ml-2">
              Back
            </button>
            <button mat-raised-button color="accent" type="submit">
              {{ isOtpSent ? 'Reset Password' : 'Request Reset' }}
            </button>
          </div>
        </form>
  
        <!-- Message Display -->
        <p *ngIf="message" class="text-success text-center">{{ message }}</p>
        <p *ngIf="errorMessage" class="text-danger text-center">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
  