<div class="title-header-bar">
  <div class="header-left">
    <img [src]="logoUrl" alt="Logo" class="logo-img">
  </div>
  <div class="header-center">
    <h1 class="header-title">{{ headerTitle }}</h1>
  </div>
  <div class="header-right">
    <span *ngIf="isLoggedIn" class="welcome-text">Welcome, {{ userName }}</span>
    <button *ngIf="!isLoggedIn" (click)="login()" class="btn btn-primary">Login</button>
    <button *ngIf="isLoggedIn" (click)="logout()" class="btn btn-outline-danger">Logout</button>
  </div>
</div>
