<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-12">
      <!-- <div class="srch-tab"> -->
        <!-- <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Search by PO Number</mat-label>
          <input matInput type="text" [(ngModel)]="poSearchText" (keyup.enter)="onSearchPO()" />
        </mat-form-field> -->
        <!-- <button mat-raised-button color="primary" class="search-button" (click)="onSearchPO()">Search</button> -->
      <!-- </div> -->
      <div style="width: 100%;" class="ag-theme-alpine">
        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine" [modules]="modules"
          [rowData]="filteredRowData" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [domLayout]="'autoHeight'">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5 mb-5 pb-5">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h2 class="form-title text-center">Purchase Order Form</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="poForm" (ngSubmit)="onSubmit()" class="w-100">
        <div class="row">
          <!-- PO Description -->
          <div class="col-lg-6">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>PO Description</mat-label>
              <mat-icon matPrefix>description</mat-icon>
              <input matInput id="poDescription" formControlName="poDescription" required />
              <mat-error *ngIf="poForm.get('poDescription')?.touched && poForm.get('poDescription')?.invalid">
                <span *ngIf="poForm.get('poDescription')?.hasError('required')">PO Description is required.</span>
              </mat-error>
            </mat-form-field>
          </div>
      
          <!-- PO Type -->
          <div class="col-lg-6">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>PO Type</mat-label>
              <mat-icon matPrefix>list</mat-icon>
              <mat-select id="poType" formControlName="poType" required>
                <mat-option value="" disabled>Select PO Type</mat-option>
                <mat-option value="0">Standard</mat-option>
                <mat-option value="1">Blanket</mat-option>
                <mat-option value="2">Contract</mat-option>
              </mat-select>
              <mat-error *ngIf="poForm.get('poType')?.touched && poForm.get('poType')?.invalid">
                <span *ngIf="poForm.get('poType')?.hasError('required')">PO Type is required.</span>
              </mat-error>
            </mat-form-field>
          </div>
      
          <!-- Incoterms -->
          <div class="col-lg-6">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Incoterms</mat-label>
              <mat-icon matPrefix>sync</mat-icon>
              <input matInput id="incoterms" formControlName="incoterms" required />
              <mat-error *ngIf="poForm.get('incoterms')?.touched && poForm.get('incoterms')?.invalid">
                <span *ngIf="poForm.get('incoterms')?.hasError('required')">Incoterms are required.</span>
              </mat-error>
            </mat-form-field>
          </div>
      
              <!-- Contractual Delivery Date -->
        <div class="col-lg-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Contractual Delivery Date</mat-label>
            <mat-icon matPrefix>calendar_today</mat-icon>
            <input matInput [matDatepicker]="contractualDatePicker" id="contractualDeliveryDate" formControlName="contractualDeliveryDate" required />
            <mat-datepicker-toggle matSuffix [for]="contractualDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #contractualDatePicker></mat-datepicker>
            <mat-error *ngIf="poForm.get('contractualDeliveryDate')?.touched && poForm.get('contractualDeliveryDate')?.invalid">
              <span *ngIf="poForm.get('contractualDeliveryDate')?.hasError('required')">Contractual Delivery Date is required.</span>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Actual Delivery Date -->
        <div class="col-lg-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Actual Delivery Date</mat-label>
            <mat-icon matPrefix>receipt</mat-icon>
            <input matInput [matDatepicker]="actualDatePicker" id="actualDeliveryDate" formControlName="actualDeliveryDate" required />
            <mat-datepicker-toggle matSuffix [for]="actualDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #actualDatePicker></mat-datepicker>
            <mat-error *ngIf="poForm.get('actualDeliveryDate')?.touched && poForm.get('actualDeliveryDate')?.invalid">
              <span *ngIf="poForm.get('actualDeliveryDate')?.hasError('required')">Actual Delivery Date is required.</span>
            </mat-error>
          </mat-form-field>
        </div>
      
          <!-- Contact Person Name -->
          <div class="col-lg-6">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Contact Person Name</mat-label>
              <mat-icon matPrefix>person</mat-icon>
              <input matInput id="contactPersonName" formControlName="contactPersonName" required />
              <mat-error *ngIf="poForm.get('contactPersonName')?.touched && poForm.get('contactPersonName')?.invalid">
                <span *ngIf="poForm.get('contactPersonName')?.hasError('required')">Contact Person Name is required.</span>
              </mat-error>
            </mat-form-field>
          </div>
      
          <!-- Contact Person Email -->
          <div class="col-lg-6">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Contact Person Email</mat-label>
              <mat-icon matPrefix>email</mat-icon>
              <input matInput id="contactPersonEmailId" formControlName="contactPersonEmailId" required />
              <mat-error *ngIf="poForm.get('contactPersonEmailId')?.touched && poForm.get('contactPersonEmailId')?.invalid">
                <span *ngIf="poForm.get('contactPersonEmailId')?.hasError('required')">Valid email is required.</span>
              </mat-error>
            </mat-form-field>
          </div>
      
          <!-- Alternate Email -->
          <div class="col-lg-6">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Contact Number</mat-label>
              <mat-icon matPrefix>phone</mat-icon>
              <input matInput id="contactNumber" formControlName="contactNumber" required />
              <mat-error *ngIf="poForm.get('contactNumber')?.touched && poForm.get('contactNumber')?.invalid">
                <span *ngIf="poForm.get('contactNumber')?.hasError('required')">Contact Number is required.</span>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>PO Number</mat-label>
              <mat-icon matPrefix>format_list_numbered</mat-icon>
              <input matInput id="poNo" formControlName="poNo" required />
              <mat-error *ngIf="poForm.get('poNo')?.touched && poForm.get('poNo')?.invalid">
                <span *ngIf="poForm.get('poNo')?.hasError('required')">PO Number is required.</span>
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="col-lg-6">
            <mat-icon>upload</mat-icon>
              <input type="file" (change)="onFileSelected($event)" />
          </div>
        </div>
        
        <!-- Upload File -->
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
      
    </div>
  </div>
</div>