<button class="toggle-btn" (click)="toggleSidebar()">
    <i class="fa-solid fa-arrow-right"></i>
</button>
<div class="sidebar" [class.active]="isSidebarOpen">

    <nav>
        <ul>
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/master">Master</a></li>
            <li><a routerLink="/orderAcknowledgement">PO Number</a></li>
            <li><a routerLink="/registration">Registration</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </nav>
</div>