.login-container {
  max-width: 400px;
  margin: 50px auto;
  /* padding: 20px; */
  border-radius: 8px;
  background: #fff;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}


::ng-deep .dashboard-main{
  background: url(../../../../public/assets/images/bg-new-login.jpg)!important;
  background-size: contain;
  height: 100%;
}
.title {
  text-align: center;
  margin-bottom: 20px;
}

.links {
  text-align: center;
  margin-top: 15px;
}

.links a {
  margin: 0 5px;
  font-size: 14px;
  color: #3f51b5;
  text-decoration: none;
}
