<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h3 class="text-center">Additional Field Master</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="additionalFieldForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-4">
            <!-- Field Name -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Field Name</mat-label>
              <mat-icon matPrefix>edit</mat-icon>
              <input matInput formControlName="additionalFieldName" placeholder="Enter field name" required />
              <mat-error *ngIf="
                  additionalFieldForm.controls['additionalFieldName'].invalid &&
                  additionalFieldForm.controls['additionalFieldName'].touched
                ">
                Field name is required.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <!-- Data Type -->
            <div class="form-field-container">
              <mat-checkbox 
                formControlName="additionalFieldRequiredDataType" 
                color="primary" 
                class="full-width">
                Required Data Type
              </mat-checkbox>
              <mat-error *ngIf="
                additionalFieldForm.controls['additionalFieldRequiredDataType'].invalid &&
                additionalFieldForm.controls['additionalFieldRequiredDataType'].touched
              ">
                Data type selection is required.
              </mat-error>
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <!-- Buttons -->
          <button mat-raised-button color="primary" type="submit" [disabled]="additionalFieldForm.invalid">
            Submit
          </button>
          <button mat-raised-button color="warn" type="button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="container mt-5">
  <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 400px;" [rowData]="rowData"
    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [modules]="modules">
  </ag-grid-angular>
</div>