<button class="toggle-btn" *ngIf="isLoggedIn" (click)="toggleSidebar()">
    <i class="fa-solid fa-arrow-right"></i>
</button>

<div *ngIf="isLoggedIn">
    <div class="sidebar" [class.active]="isSidebarOpen">
        <div class="sidebar-header">
            <div class="logo-circle">
                <mat-icon>circle</mat-icon>
            </div>
            <h3 class="sidebar-title">Circle</h3>
        </div>
        
        <div class="divider"></div>
        
        <nav>
            <ul class="menu-list">
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active" class="menu-item">
                        <mat-icon>apps</mat-icon>
                        <span>Dashboard</span>
                    </a>
                </li>
                
                <!-- <li *appUserRole="['user']">
                    <a routerLink="/master" class="menu-item">
                        <mat-icon>people</mat-icon>
                        <span>Stage Master</span>
                    </a>
                </li> -->
                
                <li *appUserRole="['user']">
                    <a routerLink="/orderAcknowledgement" class="menu-item">
                        <mat-icon>account_balance</mat-icon>
                        <span>PO Number</span>
                    </a>
                </li>
                
                <li *appUserRole="['user']">
                    <a routerLink="/registration" class="menu-item">
                        <mat-icon>assessment</mat-icon>
                        <span>User Registration</span>
                    </a>
                </li>
                
                <li *appUserRole="['user']">
                    <a routerLink="/vendorRegistration" class="menu-item">
                        <mat-icon>security</mat-icon>
                        <span>Vendor Registration</span>
                    </a>
                </li>
                <li *appUserRole="['user']">
                    <a routerLink="/reports" class="menu-item">
                        <mat-icon>reports</mat-icon>
                        <span>Reports</span>
                    </a>
                </li>
                <li *appUserRole="['user']">
                    <a href="javascript:void(0)" (click)="toggleDropdown()" class="menu-item">
                        <mat-icon>admin_panel_settings</mat-icon>
                        <span>Master</span>
                        <i class="fa-solid" [class.fa-chevron-down]="isDropdownOpen" [class.fa-chevron-up]="!isDropdownOpen"></i>
                    </a>
                    <ul class="dropdown" [class.open]="isDropdownOpen">
                        <li><a routerLink="/master" class="dropdown-item"><mat-icon>folder</mat-icon>Stage Master</a></li>
                        <li><a routerLink="/masterDocument" class="dropdown-item"><mat-icon>folder_open</mat-icon>Document Master</a></li>
                        <li><a routerLink="/additionalField" class="dropdown-item"><mat-icon>edit</mat-icon>Additional Field</a></li>
                        <li><a routerLink="/additionalFieldSelection" class="dropdown-item"><mat-icon>check_circle</mat-icon>Additional Field Selection</a></li>
                        <li><a routerLink="/documentSelection" class="dropdown-item"><mat-icon>description</mat-icon>Document Selection</a></li>
                        <li><a routerLink="/incoterms" class="dropdown-item"><mat-icon>description</mat-icon>Incoterms</a></li>
                        <li><a routerLink="/potype" class="dropdown-item"><mat-icon>description</mat-icon>Po Type</a></li>
                    </ul>
                </li>
                
                <li class="logout-item">
                    <a href="javascript:void(0)" (click)="logout()" class="menu-item">
                        <mat-icon>logout</mat-icon>
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>