.mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: #fff!important;
}
.mat-form-field, .full-width {
    width: 100%;
  }
  .card-header.bg-dark {
    background-color: rgb(30 58 138) !important;
  }
  
  